<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StudInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StudInfo.Properties.Settings>
            <setting name="BaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseIP" serializeAs="String">
                <value />
            </setting>
            <setting name="BasePort" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseLogIn" serializeAs="String">
                <value />
            </setting>
            <setting name="BasePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="APIurl" serializeAs="String">
                <value />
            </setting>
        </StudInfo.Properties.Settings>
    </userSettings>
</configuration>